.sign-in-your h3{
    line-height: 1.5;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
}
.profile-page-registration{
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 1rem 0.8rem;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  white-space: nowrap;
  display: inline-block;
  animation: scroll 20s linear infinite;
}
.video-animation{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit:cover;
  z-index: -1;
}

@media (max-width:580px){
  .profile-page-registration{
    font-size: 12px;
    margin: 0 0 1rem 0.6rem;

  }  
}

@media (max-width:900px){
  .left-image{
    display: none;

  }  
  .video-animation{
    height: 100vh;
  }
}

